@media screen and (max-width: 980px) {
    .common-button {font-size: var(--fs-12);}

    /* header styles */
    header {background: #fff; border-bottom: 1px solid var(--color-gray-d);}
    header .container {grid-template-columns: 1fr 1fr;}
    header .container > *:not(.logo, .mobile-btn-wrapper) {display: none;}
    header .logo {justify-content: flex-start;}

    header .mobile-btn {display: block;}
    header .mobile-menus {display: block; position: absolute; top: 101%; width: var(--ls-full); background: #fff; box-shadow: 0 1px 3px var(--color-gray-d); height: 0; overflow: hidden; transition: all .3s;}
    header .mobile-menus .nav-lists {display: block;}
    header .mobile-menus .nav-lists li {text-align: center; padding: 0;}
    header .mobile-menus .nav-lists li a, .info li a {display: block; width: var(--ls-full); font-size: var(--fs-16); padding: var(--el-medium) 0; border-bottom: 1px solid var(--color-gray-d);}
    header .mobile-menus .info > li a {border: 0;}
    header .mobile-menus .info {display: flex; justify-content: center;}

    /* landing section styles */
    .slider-section .swiper-slide > div {height: 280px;}
    .overlay {position: absolute; width: var(--ls-full); height: 100%; background: #fff; opacity: .4;}
    #main-section .landing-text-box h1 {text-shadow: 1px 1px 1px var(--color-gray-2);}
    #main-section .landing-text-box p {width: var(--ls-1-2);}

    /* slider section styles */
    .slider-section .slider-text h4 {font-size: var(--fs-20);}
    .slider-section .slider-nav {width: 45px; height: 45px;}
    .swiper-button-next, .swiper-button-prev {
        svg {
            height: 40%;
            width: 40%;
        }
    }

    /* review section styles */
    .review-section .review-frame {padding: var(--el-normal);}
    .review-section .review-item {padding: var(--el-medium);}
    .review-section .review-item p {-webkit-line-clamp: 3;}

    /* insta section styles */
    .insta-section .insta-wrapper {column-gap: var(--el-small);}
    .insta-section .insta-info h4 {font-size: var(--fs-name);}
}

@media screen and (max-width: 786px) {
    html {font-size: 14px;}
    .section {padding: var(--el-section-small);}
    .container {padding: 0 var(--el-medium);}

    /* meet section styles */
    .meet-section .meet-wrapper {flex-direction: column; row-gap: var(--el-wide);}
    .meet-section .meet-text-box,
    .meet-section .meet-text-box p,
    .meet-section .meet-image-box {width: var(--ls-full);}

    /* features section styles */
    .feature-section .features {flex-direction: column; align-items: center;}
    .feature-section .feature {width: 60%;}

    /* slider section styles */
    .slider-section .slider-nav {display: none;}
    .slider-section .swiper-slide {flex-direction: column;}
    .slider-section .swiper-slide > div {width: 80%; margin: auto;}
    .slider-section .slider-text {text-align: center; align-items: center;}

    /* offers section styles */
    .offers-section .product-frame {width: var(--ls-1-2);}

    /* review section styles */
    .review-section .review-frame {width: var(--ls-1-2);}

    /* insta section styles */
    .insta-section .insta-right-image {display: none;}
    .insta-section .insta-wrapper {grid-template-columns: 1fr 1fr;}
}

@media screen and (max-width: 501px) {
    .section {padding: 1.8rem;}
    #main-section .landing-text-box {text-align: center;}
    #main-section .landing-text-box h1 {font-size: 1.8rem;}
    #main-section .landing-text-box p {width: 80%; margin: auto;}

    .overlay {opacity: .7;}

    /* meet section styles */
    .meet-section .meet-text-box p {width: var(--ls-full); font-size: var(--fs-16);}
    .meet-section .meet-image-box {column-gap: var(--el-normal);}
    .meet-section .meet-text-box span {font-size: var(--fs-16);}
    .meet-section .meet-left-image {row-gap: var(--el-normal);}

    /* features section styles */
    .feature-section .feature {width: 90%;}

    /* slider section styles */
    .slider-section .swiper-slide > div {width: 90%;}

    /* offers section styles */
    .offers-section .product-frame {width: var(--ls-full);}

    /* review section styles */
    .review-section .review-frame {width: var(--ls-full);}

    /* insta section styles */
    .insta-section .insta-wrapper {grid-template-columns: 1fr; row-gap: var(--el-medium);}
    .insta-section .insta-info {/* flex, grid 에서 사용할 수 있는 요소의 순서를 정함 */order: 1;}
    .insta-section .insta-left-image {order: 2;}

    /* footer section styles */
    footer .footer-upper {flex-direction: column;}
    footer .footer-logo {margin-bottom: var(--el-medium);}
    footer .footer-info {flex-direction: column; align-items: center; text-align: center; row-gap: var(--el-normal);}
    footer .footer-sns {column-gap: .5rem;}
    footer .footer-sns li {padding-left: 0;}
    footer .footer-lower {flex-direction: column; row-gap: var(--el-normal); align-items: center; text-align: center;}
}